---
---
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.radar {
  font-family: 'Roboto Mono', monospace;
}

.radar-container {
  padding: 24px;
  width: 320px;
  margin: 0 auto;

  @media all and (min-width: 768px) {
    width: 720px;
  }
}

.radar-title {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  @media all and (min-width: 768px) {
    font-size: 13rem;
  }
  padding: 0;
  margin: 0;
}

.radar-article-header {
  text-align: right;
}

.radar-article-title {
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.radar-article-author {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.radar-article-subtitle {
  font-weight: 700;
}

.radar-article-main {
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
}

.radar-article-start {
  position: absolute;
  top: 0;
  left: -36px;
}

.radar-article-end {
  position: absolute;
  bottom: 0;
  right: -36px;
}

.radar-article-section {
  position: relative;
}

.radar-article-section p {
  padding: 0;
  margin: 0;
}

.radar-article-section-title {
  padding: 0;
  margin: -16px 0 0 0;
  position: absolute;
  left: -140px;
  width: 160px;
  border-bottom: 2px dashed #000;
  font-size: 0.6rem;
  height: 16px;
  color: #666;
}

.radar-article-aside {
  font-weight: 700;
}

.radar-comments-title {
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-style: italic;
}

.radar-comment {
  position: relative;
  padding-left: 4rem;
}

.radar-comment-number {
  position: absolute;
  left: 0;
  font-weight: 700;
}

.radar-comment-author {
  display: inline-block;
  font-weight: 700;
}

.radar-comment-date {
  display: inline-block;
  font-weight: 300;
}

.radar-comment-main {
  display: inline-block;
  font-weight: 400;
}

.radar-comment-level1 .radar-comment-header,
.radar-comment-level1 .radar-comment-main {
  font-size: 0.8rem;
}

.radar-comment-level2 .radar-comment-header,
.radar-comment-level2 .radar-comment-main {
  font-size: 0.6rem;
}

.radar-comment-main p {
  margin: 0;
  padding: 0;
}

.radar-grid-1 {
  padding-left: 4rem;
  font-size: 0.8rem;
}
